{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@navigation": "./src/navigation",
          "@primitives": "./src/primitives",
          "@screens": "./src/screens",
          "@hooks": "./src/hooks",
          "@assets": "./assets",
          "@constants": "./src/constants",
          "@context": "./src/context",
          "@utils": "./src/utils"
        }
      }
    ],
    ["react-native-reanimated/plugin"]
  ]
}
